<!DOCTYPE html>

<head>
    <style>
        body {
            padding: 2vw;
        }

        body,
        input,
        button {
            font-family: "Courier New", Courier, monospace;
        }

        button,
        input {
            border: none;
            padding: 0.5vw;
            border-radius: 1vw;
        }

        button {
            width: 100%;
        }

        button:focus,
        button:hover,
        input {
            outline: none;
        }

        button:hover,
        #submit:hover {
            background-color: lightgrey;
        }

        input {
            background-color: #f5f5f5;
        }

        div {
            width: fit-content;
        }
    </style>
</head>

<body>
    <h1>G'day!</h1>
    <div>
        <form action="/logout" method="POST">
            <button type="submit">Logout</button>
        </form>
    </div>
</body>